.login-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    border-radius: 3px;
    min-width: 400px;
    font-weight: bold;
    height: max-content;

}
.login-gg-button {
    background-color: #fff;
    color: black;
    border: 1px solid #f6f6f8;
    box-shadow: 2px 2px #f6f6f8;
    
  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
   

}
.login-form-button {
    color: #fff;
    background-color: #5553f6;
}