
.left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .logo-img-container {
        flex-grow: 3 ;
        display: flex;
        justify-content: center;
        align-items: center;
    }
 
}
.logo-login {
    width: 200px;
}

