.ant-input:placeholder-shown {
    padding: 10px 10px;
}
.reset-form-wrap {
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    >h1 {
        font-size: 50px;
        text-align: center;
    }
    .ant-form-item-label > label {
        font-weight: bolder;
        color: #283048;
        &::before,
       &::after {
        content: none;
    }
   
    }
}