@import '../../../assets/styles/\ _mixins.scss';
.wrap {
    width: 100%;
    min-height: 100vh;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    background-size: cover;
    background-image: url(../../../assets/img/login-illustraion.png);

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        display: flex;
        background-color: rgba(0, 0, 0, 0.6);
        position: absolute;
        z-index: 1;
        top: 0px;
        left: 0px;
        right: inherit;
    }
}

.ant-form {

    min-width: 100%;
}

.google-icon {
    width: 20px;
    height: 20px;

}





.logo-img {
    width: 250px;
    padding-top: 30px;
}




.form-wrap {
    text-align: center;
    max-height: 100vh;
    height: 100vh;
    overflow-y: auto;
    min-width: 500px;
    max-width: 500px;
    z-index: 10;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
   

    .form-container {
        .no-account-container {
            display: flex;
            flex-direction: row;
           justify-content: center;
           padding: 12px 0 0px;
           border-top: 1px solid #efefef;
           margin-top: 22px;
           color: #758294;
           font-size: 14px;
        }
        .link-no-account {
            padding-left: 5px;
            color: $color-link;
        }

        width: 500px;
        padding: 60px 50px 0px 50px;
        display: flex;
        min-height: max-content;
        flex-direction: column;

        >h1 {
            text-transform: capitalize;
            text-align: center;
            font-size: 48px;
            line-height: 60px;
            font-weight: 800;
            letter-spacing: -0.063rem;
            margin-bottom: 50px;
        }
    }

    .login-gg-button {
        background-color: #fff;
        color: black;
        border: 1px solid #f6f6f8;
        box-shadow: 2px 2px #f6f6f8;
        min-height: max-content;


        &:hover {
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        }
    }

    .divider-text-style {
        padding: 40px 0 10px;
        color: #bcbcc4;
        font-size: 13px;

    }
}