
.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector  {
    height: 40px;
    .ant-select-selection-placeholder {
        margin: auto
    }
    .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-radius: 0px !important;
    }
}