@import '../../assets/styles/\ _mixins.scss';

.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.trigger:hover {
    color: #1890ff;
}
.menu {
   
   
   
}


.logo {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    height: 64px;
    color: red;
    background: rgba(0, 0, 0, 0.3);
    font-size: 16px;

    .logo-link {
        color: $color-dark-white;
    }
}

.site-layout {
    background: #eff3f6;
}


.header-container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    >div {
       display: flex;
       align-items: center;
       justify-content: space-evenly;
       width: 130px;
    }
}
.ant-layout-sider {
    background-color: rgb(45, 52, 70);
    max-width: 240px !important;
    min-width: 240px !important;
    flex: 0 0 240 !important;
}

.ant-layout-sider-collapsed {
    max-width: 80px !important;
    min-width: 80px !important;
}
.ant-table-body {
    overflow-x: auto;
}