.login-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    border-radius: 3px;
    width: 100%;
    font-weight: bold;
    height: max-content;

}

.login-form-button {
    color: #fff;
    background-color: #5553f6;
}