.remember-logged-container {
    .ant-form-item-control-input-content
        {
            padding: 10px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .forgot-pass-link {
                   color: #b262a1
            }
}