.card-container {
    min-width: 100%;
    min-width:  max-content;
}

.divider {
    height: 1px;

    background: #e9ecef;
}

.ant-card-body {
    
    padding: 24px 10px;


    
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;

    .content-wrap {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        padding-left: 20px;

        >p {
            margin-bottom: 0px;
        }

        >span {
            line-height: 3rem;
            font-weight: bold;
            font-size: 2.5rem;
        }
    }

}

.icon-wrap {
    font-size: 18px;
    min-width: 54px;
    min-height: 54px;
    position: relative;
    display: flex;

    align-content: center;
    align-items: center;
    .anticon {
        position: relative;
        z-index: 5 !important;
        margin: 0 auto !important;
    }

    .icon-wrap-background {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
    }

  
}
 



.sub-heading {
    color: #c1c3c5;
    font-size: 18px;
}