.ant-form-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    .ant-input-affix-wrapper {
        border-radius: 4px;
              padding: 8px 11px;
             border: 2px solid #eeeeef;
    }
}
.ant-form-item-label > label {
    font-weight: bolder;
    color: #283048;
    margin: 4px 0px;
   &::after {
    content: none;
}
 
}
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    content: none;
}
.ant-form-item-explain.ant-form-item-explain-error  {
  
        text-align: left;

}


// .ant-form-item {
//     display: flex;
//     flex-direction: column;
// }
// .login-form {
//     min-width: 400px;
   
// }
// .login-form-wrap { 
//     flex-grow: 3;
//     display: flex;
//     margin: 0;
//     justify-content: center;
//     align-items: center; 
//     flex-direction: column;
   
//     >h1 {
//         padding-bottom: 40px;
//         color: #2c344c;
//         font-weight: bold;
//         font-size: 50px;
//         margin: 0px;
//     }
//     >span {
//         padding: 30px 0px;
//         color: #bcbcc4;
//         font-weight: bold;
//         &::after,
//         &::before {
//             display: inline-block;
//     content: "";
//     border-top: 2px solid #bcbcc4;
//     width: 4rem;
//     margin: 0 1rem;
//     transform: translateY(-4px);
//         }
//     }
//     .ant-input-affix-wrapper  {
//         border-radius: 3px;
//         padding: 8px 11px;
//         border: 2px solid #eeeeef;
//     }
//     .ant-form-item-label > label {
//         font-weight: bolder;
//         color: #283048;
         
//        &::after {
//         content: none;
//     }
//     &::before {
//         content: none;
//     }
//     }
//     .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
//         content: none;
//     }
    


    

// .ant-checkbox + span {
   
//     color: #7d7e85;
// }
//     .ant-checkbox-inner {
//         &:hover {
//             border-color: #5555f6;
//         }

//     }

//     .ant-btn > .anticon + span {
//         flex-grow: 9;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin-left: 0px;

//     }
// }

// .remember-logged-container {
//    .forgot-pass-link {
//        color: #b262a1
// }
//     .ant-form-item-control-input-content
//     {
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//     }
   
// }
// .ant-form-item {
// display: flex;
// flex-direction: column;
// }