.button-container {
    background-color: #5457ff;
    color: #fff;

}

.divider-style {
    text-align: center;

    &::after,
    &::before {
        display: inline-block;
        content: "";
        border-top: 2px solid #bcbcc4;
        width: 2rem;
        margin: 0 1rem;
        transform: translateY(-4px);
    }

}
