body {

  margin: 0;
  -moz-osx-font-smoothing: grayscale;
-webkit-font-smoothing: antialiased;
font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 1.7857142857;

}
.font-14 {
  font-size: 14px;
}
.no-border-radius {
  border-radius: 0px !important;
}
.title-style {
  font-size: 20px;
  font-weight: bold;
}
/* .table-striped-rows tr:nth-child(2n) td {
  background-color: #fbfbfb;
}
.table-striped-rows thead {
  background-color: #f1f1f1;
} */
.font-16 {
  font-size: 16px;
}
.border-1px {
  border: 1px solid rgb(235, 235, 235);
}
 h1,  h2,  h3,  h4,  h5,  h6,  a,  p,  li, input, textarea, span, div, html, body, html a {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
  margin: 0px;
}
.button-container {
  background-color: #5457ff;
  color: #fff;
  margin-top: 10px;

}
.divider-styles {
  text-align: left;
}


